
 

.logo-container{
    z-index:6;
    width: 500px;
    height: 100px;
    position: absolute;
    top: 5%;
    right: -6%;
    bottom: 61%;
    left: auto;
    margin: auto;
    transform: rotateZ(30deg) !important;
}

 .solid-logo{
           
            animation: rotateIn 1s ease-in-out;
            animation-delay: 1.4s;
            z-index:-1;

        }

//     svg{
//         width:100%;
//         height:auto;
//         bottom: 0;
//         transform: rotateZ(30deg) !important;
//     }

//     .solid-logo{
//         position: absolute;
//         top: auto;
//         right:auto;
//         bottom: auto;
//         left: 0;
//         margin: auto;
//         width:100%;
//         opacity: 0;
//         transform: rotateZ(30deg);
//         z-index: 1;
//     }

// }


// .svg-container{
//     stroke: #a5d7e8;
//     stroke-width: 10px;
// }

