@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&display=swap');


  
  #likin {
    margin-top: 20px;
    margin-left: 998px;
    color: #b5edff;
    position: fixed;
  }
  
 
  
  #leet {
    margin-top: 21px;
    margin-left: 1040px;
    text-decoration: none;
    color: #b5edff;
    position: fixed;
    /* Consider removing position: fixed; */
  }
  
  #git {
    margin-top: 21px;
    margin-left: 1083px;
    text-decoration: none;
    color: #b5edff;
    position: fixed;
    /* Consider removing position: fixed; */
  }
  
  #twit {
    margin-top: 21px;
    margin-left: 1124px;
    text-decoration: none;
    color: #b5edff;
    position: fixed;
    /* Consider removing position: fixed; */
  }
  
.page{
    width:100%;
    height: 100%;
    position: absolute;
}

.top-tags{
    bottom:auto;
    top:30px;
}

.tags{
    color: #b5edff;
    opacity: 0.6;
    position: absolute;
    bottom: 0;
    left: 120px;
    font-size: 24px;
    font-family: 'Moon Dance', cursive;

}
.bottom-tags{
    margin-bottom:30px;
}

.bottom-tag-html{
    margin-left: -30px;
    bottom: 0px;
}


.container{
    width: 100%;
    will-change: contents;
    height: 90%;
    min-height: 566px;
    position: absolute;
    opacity: 0;
    top: 5%;
    margin: 0 auto;
    z-index: 1;
    transform-style: preserve-3d;
    animation: fadeIn 1s forwards;
}

.about-page{
  .text-zone{
    position: absolute;
    left:10%;
    top:50%;
    transform: translateY(-50%);
    width: 35%;
    vertical-align: middle;
    display: table-cell;
    max-height: 90%;

    h1{
        font-size: 53px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color:#b5edff;
        font-weight: 400;
        margin-top: 0;
        position: relative;
        margin-bottom: 40px;
        left:10px;

        &::before{
            content: '<h1>';
            font-family: 'Moon Dance', cursive;
            font-size: 22px;
            position: absolute;
            margin-top: -10px;
            left: -10px;
            opacity: 0.6;
            line-height: 18px;
        }

            &::after{
                content: '</h1>';
                font-size: 22px;
                font-family: 'Moon Dance', cursive;
                position: absolute;
                margin-left: 20px;
                bottom: -20px;
                left: -30px;
                opacity: 0.6;
                line-height: 18px;
            }

        
    }

    p{
        font-size: 15px;
        color:aliceblue;
        font-family: 'Courier New', Courier, monospace;
        font-weight: 300;
        min-width: fit-content;
        animation: pulse 1s;

        &:nth-of-type(1){
            animation-delay: 1.1s;
        }
        &:nth-of-type(2){
            animation-delay: 1.2s;
        }
        &:nth-of-type(3){
            animation-delay: 1.3s;
        }


    }
  }
  
}
.layout-container
{
  height: 100vh; /* Set to 100% of the viewport height */
  overflow-y: auto; /* Enable vertical scrolling when needed */
  padding: 20px; /* Add padding or adjust as needed */
}